{
  "presets": [ "es2015", "stage-0", "react"],

  /* if you want to use babel runtime, uncomment the following line */
  // "plugins": ["transform-runtime", "transform-class-properties"],
   //"plugins": ["transform-class-properties"],
  "plugins": ["transform-object-assign"],

  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
