.tree-node-wrap{
  margin-left: 20px;

  & textarea:focus{
    border-color: #000;
    box-shadow: none;
  }
}

.dot {
  width:3px;
  border: 3px solid #666;
  border-radius:50%;
  display: block;
  position:absolute;
  left:24px;
  top:6px;
  z-index: 2;
}

.dot-fold{
  width:18px;
  height:18px;
  left: 18px;
  border-radius:50%;
  border: 6px solid #ccc;
  display: block;
  position:absolute;
  z-index: 1;
}

.node-btn-wrap{
  position:absolute;
  margin-left:-38px;
  margin-top:3px;
  width:18px;
  height:18px;
  &:hover .fold{
    display: block;
    position: absolute;
    margin-left:6px;
    margin-top: 4px;
    color: #666;
  }

  .fold{
    display: none;
    //position: absolute;
    //margin-left: 18px;
    //margin-top: 5px;
  }
}


.tree-textarea {
  width: calc(~"100% - 20px");
}

.tree-textarea-fold {
    font-style: italic;
}

.tree-node-wrapper {
    /*position: relative;*/
    margin-left: 20px;
    //display: -webkit-flex;
    //display: flex;
    //margin-top: 5px;
}

.tree-node-wrapper:hover .dropdown-hiden {
  display:block;
}

