.tree-node-wrap{
  margin-left: 20px;
}


.node-btn-wrap{
  position:absolute;
  margin-left:-30px;
}


.tree-textarea {
  width: calc(~"100% - 20px");
}

.tree-textarea-fold {
    font-style: italic;
}

.tree-node-wrapper {
    /*position: relative;*/
    margin-left: 20px;
    //display: -webkit-flex;
    //display: flex;
    //margin-top: 5px;
}

.tree-node-wrapper:hover .dropdown-hiden {
  display:block;
}

