.tree-node-wrap{
  margin-left: 20px;
}


.dot {
  width:3px;
  border: 3px solid #666;
  border-radius:50%;
  display: block;
  position:absolute;
  left:6px;
  top:6px;
  z-index: 2;
}

.dot-fold{
  width:18px;
  height:18px;
  border-radius:50%;
  border: 6px solid #999;
  display: block;
  position:absolute;
  z-index: 1;
}

.node-btn-wrap{
  position:absolute;
  margin-left:-20px;
  margin-top:3px;
  width:18px;
  height:18px;
}


.tree-textarea {
  width: calc(~"100% - 20px");
}

.tree-textarea-fold {
    font-style: italic;
}

.tree-node-wrapper {
    /*position: relative;*/
    margin-left: 20px;
    //display: -webkit-flex;
    //display: flex;
    //margin-top: 5px;
}

.tree-node-wrapper:hover .dropdown-hiden {
  display:block;
}

