.editor{
  /*padding: 0;*/

  &  textarea{
    width:100%;
    border: hidden;
    border-radius: 5px;
    //background-color: #F9F9F5;
  }
}

body{
  //background-color: #F9F9F5;
}

.horizoltal-splitter{
  width: 2px;
  height:100px;
}

.view{
    border-color: black;
    border: dotted 1px;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.glyphicon{
	font-size: 0.7em;
}

li{
	list-style-type: none;
}
