.dropdown-menu > .btn-group{
  width: 100%;
}

.dropdown-menu > .btn-group > a {
  width: calc(100% - 25px);
  border:0px;
  border-radius:0px;
  text-align:left;
}

.dropdown-menu > .btn-group > button {
  border:0px;
  border-radius:0px;
}

.dropdown-menu-right{
  left: 158px;
  top: -4px;
}
